# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage
yarn-error.log*

# production
/build
npm-debug.log*

# misc
.DS_Store
.env.local
.env.development.local
CLAUDE.md
.env.test.local
yarn-debug.log*
.env.production.local
.claude

# temp files
*.tmp
*.log
.vscode/